.App {
  text-align: center;
  background-color: #f8f8f8;
}

.Header {
  background-color: #abdd9a;
  padding: 20px;
}

.Nav {
  background-color: #d3ffc3;
  padding: 1px;
  margin-bottom: 1em;
}

.all-reviews {
  list-style-type: none;
  margin: 1.5em;
  margin-left: 0em;
}

.reviews-in-list {
  /* display: flex; */
  border: 5px solid #e9f0f4;
  margin-bottom: 1.5em;
  background-color: #f1f1f1;
}

.reviews-in-list:hover {
  background-color: #d9f1e5;;
}
/* .reviews-in-list-title h4:hover {
  background-color: #c6d2da;
} */
/* .reviews-in-list-info-line h5:hover {
  background-color: #c6d2da;
} */

.reviews-in-list-title h4 {
  margin: auto;
  background-color: #d5dee4;
  padding-top: 25px;
  padding-bottom: 4px;
}


.reviews-in-list-info-line h5 {
  color: #54585a;
  margin-top: auto;
  background-color: #d5dee4;
  padding-top: 5px;
  padding-bottom: 15px;
}
.reviews-in-list-body-preview p {
  margin-top: 1em;
  text-align: left;
  margin-left: 1em;
}
.reviews-in-list-comment-vote-counters p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: small;
  text-align: left;
  margin-left: 1em;
}
/* 
.category {
  text-transform: capitalize;
} */

.categories-dropdown {
  background-color: #d3ffc3;
  /* border: #d3ffc3; */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-transform: capitalize;
}

.card-link {
  color: inherit;
  text-decoration: none
}

.header-link {
  color: inherit;
  text-decoration: inherit
}

.header-link:hover {
  color: #679757;
}