h2 {
  text-transform: capitalize;
}

body,
html {
  height: 100%;
  background-color: #f8f8f8;
}

.App {
  text-align: center;
}

.button {
  color: rgb(3, 39, 3);
  background-color: #93c981;
  /* border-radius: 5px; */
  border: none;
  margin-left: 5px;
}
/* ---------- Header ---------- */

.Header {
  background-color: #abdd9a;
  padding: 20px;
}

/* ---------- Nav ---------- */

.Nav {
  position: sticky;
  top: 0;
  background-color: #d3ffc3;
  padding: 1px;
  margin-bottom: 1em;
  width: 100%;
  z-index: 2;
}

.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: auto;
}

.Nav li {
  display: inline-flex;
}

#basic-nav-dropdown {
  color: darkgreen;
}

#nav-dropdown {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0em;
  text-transform: capitalize;
}

#nav-user {
  margin-top: 1em;
  margin-bottom: auto;
  position: absolute;
  right: 1em;
}

/* #nav-username {
  margin-right: 1em;
} */

#nav-user-login {
  margin-top: 1em;
  margin-bottom: 1em;
  position: absolute;
  right: 1em;
}

#nav-user-login-link {
  color: rgb(3, 39, 3);
  background-color: #93c981;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-decoration: none;
}

#nav-user-login :hover {
  color: rgb(0, 185, 0);
}

@media only screen and (max-width: 500px) {
  .Nav ul {
    justify-content: space-between;
  }

  #nav-dropdown {
    justify-content: start;
  }

  #nav-user {
    position: static;
  }
  #nav-user-login {
    justify-content: end;
    position: static;
  }
}

/* ---------- Reviews List ---------- */

.sort-by-dropdown {
  position: relative;
}

.all-reviews {
  list-style-type: none;
  margin: 1.5em;
  margin-left: 0em;
}

.reviews-in-list {
  /* display: flex; */
  border: 5px solid #e9f0f4;
  margin-bottom: 1.5em;
  background-color: #f1f1f1;
}

.reviews-in-list:hover {
  background-color: #d9f1e5;
}

.reviews-in-list-title h4 {
  margin: auto;
  background-color: #d5dee4;
  padding-top: 25px;
  padding-bottom: 4px;
}

.reviews-in-list-info-line h5 {
  color: #54585a;
  margin-top: auto;
  background-color: #d5dee4;
  padding-top: 5px;
  padding-bottom: 15px;
}
.reviews-in-list-body-preview p {
  margin-top: 1em;
  text-align: left;
  margin-left: 1em;
}
.reviews-in-list-comment-vote-counters p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: small;
  text-align: left;
  margin-left: 1em;
}
/* 
.category {
  text-transform: capitalize;
} */

.card-link {
  color: inherit;
  text-decoration: none;
}

.header-link {
  color: inherit;
  text-decoration: inherit;
}

.header-link:hover {
  color: #679757;
}

/* ---------- Single Review ---------- */

/* ---------- Comment Section ---------- */

.post-comment-container {
  margin: auto;
  width: 80%;
  position: relative;
}

.post-comment {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

.post-comment-button {
  margin-top: 0.3em;
  margin-left: 75%;
}
