.App {
  text-align: center;
  background-color: #f8f8f8;
}

.Header {
  background-color: #abdd9a;
  padding: 20px;
}

.Nav {
  background-color: #d3ffc3;
  padding: 1px;
}

.all-reviews {
  list-style-type: none;
  margin: 1.5em;
  margin-left: 0em;
}

.reviews-in-list {
  /* display: flex; */
  border: 5px solid #e9f0f4;
  margin-bottom: 1.5em;
}

.reviews-in-list-title h4 {
  margin: auto;
  background-color: #d5dee4;
  padding-top: 25px;
  padding-bottom: 4px;
}

.reviews-in-list-info-line h5 {
  color: #54585a;
  margin-top: auto;
  background-color: #d5dee4;
  padding-top: 5px;
  padding-bottom: 15px;
}
.reviews-in-list-body-preview p {
  margin-top: 1em;
  text-align: left;
  margin-left: 1em;
}
.reviews-in-list-comment-counter p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: small;
  text-align: left;
  margin-left: 1em;
}
